.header {
  max-height: 10vh;
  padding: 2rem;
  background-color: #2563eb;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  cursor: pointer;
}
